@charset "utf-8";

/* right_gnb */

#map_control{
	z-index: 30;
	position: absolute;
	right: 15px;
	top: 15px;

	#map_properties{
		width: 46px;
		
		.com_map_tool{

			>li{
				position: relative;
				a{
					position:relative;
					display: block;
					height: 46px;
					background: #fff;
					font-size: 9px;
					text-align: center;
					border: 1px solid #d3d3d3;
					margin-top: -01px;
					padding-top: 28px;
					&:after{
						position: absolute;
						top: 0;
						left: 50%;
						margin-left:-15px;
						display: block;
						content:'';
						width: 30px;
						height: 30px;
						background-image: url(../../images/right_icon.png) ;
						background-repeat: no-repeat;
					}
				}
			}

			.tool_depth02{
				position: absolute;
				top: 0;
				right: 0;
				border: 1px solid #595959;
				li{
					float: left;
					border-left: 1px solid #e6e6e6;
					&:first-child{
						border-left: none;
					}
					&:after{
						content:'';
						display: block;
						clear: both;
					}
					a{
						width: 46px;
					}
				}
			}
		}

		@mixin ir($left : 0, $top : 0){
			background-position: $left*30 $top*30;
		}

		#first_map_tool{
			margin-bottom: 18px;
			li{
				&.bg_mapico{
					>a{
						&:after{
							background-position: 0px -150px;
						}
					}
					.tool_depth02{
						width: 276px;
						@for $i from 1 to 6{
							li:nth-child(#{$i}){
								a{
									&:after{background-position: -#{$i*30}px  0;}
								}
							}
						}
					}
				}
				&.load_mapico{
					a{
						&:after{
							background-position: -30px 0px;
						}
					}
					.tool_depth02{
						width: 276px;
					}
				}
				&.additional_mapico{
					a{
						&:after{
							background-position: -60px 0px;
						}
					}
					.tool_depth02{
						width: 276px;
					}
				}
				&.division_mapico{
					a{
						&:after{
							background-position: -90px 0px;
						}
					}
				}
			}
		}

		#second_map_tool{
			li{
				&.zoom_pluse-mapico{
					a{
						&:after{
							background-position: -120px 0px;
						}
					}
				}
				&.zoom_minus-mapico{
					a{
						&:after{
							background-position: -120px -30px;
						}
					}
				}
				&.length_mapico{
					a{
						&:after{
							background-position: -150px 0px;
						}
					}
					.tool_depth02{
						width: 276px;
					}
				}
				&.save_mapico{
					a{
						&:after{
							background-position: -120px -60px;
						}
					}
				}
				&.set_mapico{
					a{
						&:after{
							background-position: -120px -90px;
						}
					}
				}
			}
		}
	}
}

/* right_gnb */